.entry-page-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
@media (max-width: 620px) {
  .form-container {
    flex-direction: column;
  }
}
.btn {
  background-color: #0a92b1;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: #cecece;
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 2.1rem;
  height: 3rem;
}
.form-container input {
  padding: 0.3rem;
  border-radius: var(--radius);
  margin: 0px 10px;
  font-size: 1.8rem;
  height: 2rem;
  background-color: #272729;
  color: #cecece;
}

.form-container label {
  font-weight: bold;
  font-size: 2rem;
}
