.planner {
  display: flex;
  width: auto;
}
.player {
  text-align: center;
  padding: 10px 0px;
  border-right: 5px solid black;
}
.revert-btn,
.shirt-btn {
  width: 100px;
  height: auto;
}
#player1.player {
  border-left: 5px solid black;
}
