body {
  background-color: #272729;
  color: #cecece;
}
.main {
  margin-top: 40px;
}
.planner {
  display: flex;
  width: auto;
  justify-content: center;
}
.tf-header {
  display: flex;
  justify-content: space-around;
}
.cost-red,
.transfer-red {
  color: red;
}
/* player */
.player {
  text-align: center;
  padding: 10px 0px;
  border-right: 5px solid white;
  color: black;
}
.player-unavailable {
  filter: brightness(30%);
}
.revert-btn {
  width: 100px;
  height: auto;
}
.shirt-btn {
  width: 100px;
  height: auto;
  /* color: blue; */
}
.player#player-10 {
  margin-right: 50px;
}
.player#player-0 {
  border-left: 5px solid white;
}
.player#player-11 {
  border-left: 5px solid white;
}

.player#player-11,
.player#player-12,
.player#player-13,
.player#player-14 {
  filter: brightness(100%);
}
.substitution-button {
  height: 15px;
}
.sub-off {
  cursor: pointer;
}
.sub-on {
  cursor: pointer;
}

.gameweek {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-arrow-btn {
  margin-right: 20px;
  cursor: pointer;
}
.right-arrow-btn {
  margin-left: 20px;
  cursor: pointer;
}

.submit-button {
  display: flex;
  width: auto;
  background-color: #0a92b1;
  border-radius: var(--radius);
  color: #cecece;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
  justify-content: center;
  padding: 5px;
}

.submit-button:hover {
  filter: brightness(120%);
}

.submit-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.playerListTable {
  margin: 8px 20px;
}

/* filter buttons */

.select-team {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 22px;
  height: 40px;
}
.player-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 22px;
  height: 40px;
}
.select-team h4 {
  margin-right: 5px;
}
.player-name h4 {
  margin-right: 8px;
}
.bank-value-id {
  display: flex;
  justify-content: space-around;
}
